@import 'src/common/common';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  height: 100%;
  font-family: sans-serif;
  background: #e7e8ec;
}

.ant-table-thead > tr > th{
  background: #c42f33 !important;
  color: white !important;
}